.parent {
  padding: 20%;
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border-radius: 3px;
  border: black;

  background-color: coral;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: #ff0e56;
}
