.parent {
  padding: 20%;
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 38, 38);
  border-radius: 3px;
  border: black;

  background: linear-gradient(
    to right,
    #f8b3b5 0%,
    #f8b3b5 50%,
    #ffffff 50%,
    #ffffff 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}

button:hover {
  color: rgb(0, 0, 0);
  background-position: 0 0;
  /*
  background-color: #ff0e56;*/
}
